html {
	min-height: 100%;
	min-width: 400pt;
}

body {
	padding-left: 8%;
	padding-right: 12%;
	padding-top: 2%;
	padding-bottom: 4%;
	min-height: 100%;
	
	background-image:url('bookpage.jpg');
	background-repeat:no-repeat;
	background-size:100% 100%; 
}

.scene, p#inventory, p#action { 
	font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
	text-align: justify; 
	font-size: x-large;
	cursor: default;
	opacity: 0.9;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display:none;
}

h1 {
	font-size: xx-large;
	text-align: center;
}

span.clickable, span.inventoryItem { 
	font-weight: bold; 
	cursor: pointer;
}

img.side {
	width: 40%;
	padding-right: 5%;
	padding-bottom: 2%;
	float: left;
}
